@charset "UTF-8";
/*共通部分
-----------------------------------------------*/
html {
    font-size: 100%;

}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    min-height: 100vh;
    background:linear-gradient(#5638da 30%, #3da8f0 70%);
}
.title {
    text-align: center;
    color: mintcream;
    margin-bottom: 20px;
}
.sub-title{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    letter-spacing: 1rem;
    border-bottom: 1px solid;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 50px 4%;
}
.errors {
    color: red;
    background-color: #f1d5ef;
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 10px;

}
/*フォーム
-----------------------------------*/
.form-area {
    background-color: #ebf0f1;
    padding: 2% 5%;
    margin-bottom: 10px;
    border-radius:10px;
}

input[type="text"],
input[type="date"] {
    border: 1px solid #b8b4b4;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}


/*ボタン*/
.submit-btn{
    background-color: #f200ff;
    margin-top: 10px;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
    font-size: 1.2rem;
}
.addition-btn{
    background-color: #0000ed;
    letter-spacing: 1.5rem;
    text-indent: 1.5rem;
    font-size: 1.2rem;
    margin-top: 10px;
}
.btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.5;
}
.done-btn {
    background-color: #0047e1;
}
.edit-btn {
    background-color: #ef7800;
}
.delete-btn {
    background-color: #f24343;
}
.cancel-btn{
    background-color: #00d400;
}

/*未達成*/
.incomplete-area,
.complete-area {
    background-color: #ebf0f1;
    padding: 2% 5%;
    margin-bottom: 10px;
    border-radius:10px;
}
.sub-title {
    text-align: center;
    margin-bottom: 30px;
}
.plan-list {
    width: 100%;
}
.plan-list tr {
    height: 40px;
}
.plan-list td {
    word-break: break-all;
}
.plan-title {
    text-align: left;
}
.plan-due-date,
.plan-completion-date {
    text-align: left;
    width: 150px;
}
.done-link-area,
.edit-link-area,
.delete-link-area {
    width: 80px;
}
.expired {
    color: red;
}
@media (max-width: 600px) {
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
}
